## Method chainng is programming style where you implement a pipeline functions in a single call

## Advantage

1. Makes the code easier to read , in sequence it happens

2. Make your codebase compact and Organized

## Disvantage

Hard to debug

In [2]:
# Without method chaining

In [3]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'Score': [85, 90, 95, 100, 80]}

df = pd.DataFrame(data)

# Filtering, sorting, and selecting columns
filtered = df[df['Age'] > 30]
sorted_df = filtered.sort_values(by='Score', ascending=False)
result = sorted_df[['Name', 'Score']]

print(result)

      Name  Score
3    David    100
2  Charlie     95
4      Eve     80

In [4]:
# With Method Chaining

In [5]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 35, 40, 45],
        'Score': [85, 90, 95, 100, 80]}

df = pd.DataFrame(data)

# Method chaining
result = (df[df['Age'] > 30]
          .sort_values(by='Score', ascending=False)
          [['Name', 'Score']])

print(result)

      Name  Score
3    David    100
2  Charlie     95
4      Eve     80

we can use pipe() function also which are used to chain multiple methods in a single line of code

In [6]:
df = pd.read_csv(r'..\\Datasets\\Property_Crimes.csv')
df

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Burglary - Property,3. Burglary,27,64,755858,1321961
1,Andhra Pradesh,2001,Burglary - Property,3. Burglary,3321,7134,51483437,147019348
2,Arunachal Pradesh,2001,Burglary - Property,3. Burglary,66,248,825115,4931904
3,Assam,2001,Burglary - Property,3. Burglary,539,2423,3722850,21466955
4,Bihar,2001,Burglary - Property,3. Burglary,367,3231,2327135,17023937
...,...,...,...,...,...,...,...,...
2444,Tamil Nadu,2010,Total Property,7. Total Property Stolen & Recovered,16125,21509,660311804,1317919190
2445,Tripura,2010,Total Property,7. Total Property Stolen & Recovered,192,879,5666102,33032746
2446,Uttar Pradesh,2010,Total Property,7. Total Property Stolen & Recovered,9130,35068,577591772,1442670414
2447,Uttarakhand,2010,Total Property,7. Total Property Stolen & Recovered,964,2234,47135685,123398840
2448,West Bengal,2010,Total Property,7. Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [7]:
#Renaming columms
df.columns = df.columns.str.lower()

#Creating sub group
df['Sub_Group_Name'] = df['group_name'].str.split('-',expand=True).loc[:,0]

#Convert Area_Name , Group_Name and Sub_Group_Name into categorical 
df['area_name_cat'] = pd.Categorical(df['area_name'])
df['group_name_cat'] = pd.Categorical(df['group_name'])
df['sub_group_name_cat'] = pd.Categorical(df['sub_group_name'])

#total case lost
df['total_cases'] = df['cases_property_stolen'] - df['cases_property_recovered']

#total value cost
df['total_value'] = df['value_of_property_stolen'] - df['value_of_property_recovered']

df.sample(5)

,area_name,year,group_name,sub_group_name,cases_property_recovered,cases_property_stolen,value_of_property_recovered,value_of_property_stolen,Sub_Group_Name,area_name_cat,group_name_cat,sub_group_name_cat,total_cases,total_value
2369,Odisha,2008,Total Property,7. Total Property Stolen & Recovered,5905,12182,175265891,560367972,Total Property,Odisha,Total Property,7. Total Property Stolen & Recovered,6277,385102081
667,Arunachal Pradesh,2010,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,20,59,19048720,114314139,Criminal Breach of Trust,Arunachal Pradesh,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,39,95265419
1586,Gujarat,2006,Robbery - Property,2. Robbery,516,932,22271713,45487893,Robbery,Gujarat,Robbery - Property,2. Robbery,416,23216180
412,Punjab,2002,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,367,373,116744790,202509917,Criminal Breach of Trust,Punjab,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,6,85765127
472,Kerala,2004,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,62,236,15987869,56346557,Criminal Breach of Trust,Kerala,Criminal Breach of Trust - Property,5. Criminal Breach of Trust,174,40358688