In [12]:
import pandas as pd
import numpy as np

## Pandas have 2 types of objects : DataFrame and Series

In [13]:
arr = np.array([1, 2, 3, 4, 5])
arr

array([1, 2, 3, 4, 5])

In [14]:
df = pd.DataFrame(arr)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5

In [22]:
np.random.seed(100)
arr = np.random.randint(1,10,(5,3))
arr

array([[9, 9, 4],
       [8, 8, 1],
       [5, 3, 6],
       [3, 3, 3],
       [2, 1, 9]], dtype=int32)

In [23]:
df = pd.DataFrame(arr)
df

   0  1  2
0  9  9  4
1  8  8  1
2  5  3  6
3  3  3  3
4  2  1  9

#### We can create a dataframe from List and Dictionary Also

In [25]:
rownames = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
colnames = ['Jan', 'Feb', 'Mar']    
df = pd.DataFrame(arr, index=rownames, columns=colnames)
df

     Jan  Feb  Mar
Mon    9    9    4
Tue    8    8    1
Wed    5    3    6
Thu    3    3    3
Fri    2    1    9

In [34]:
mydict = {
    'Jan' : [10, 20, 30, 40, 50],
    'Feb' : [15, 25, 35, 45, 55],
    'Mar' : [20, 30, 40, 50, 60]
}

df = pd.DataFrame(mydict,index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])
df

           Jan  Feb  Mar
Monday      10   15   20
Tuesday     20   25   30
Wednesday   30   35   40
Thursday    40   45   50
Friday      50   55   60

## Series

A series is a single column extracted from a DataFrame.

In [39]:
ser = df['Jan'][0:3]
print(type(ser))

<class 'pandas.core.series.Series'>