In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(r'../Datasets/Student_Depression_Data.csv')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [5]:
df.shape

(27901, 18)

### __Displaying all uniques__

.unique() :- Gives unique values in particular column

In [8]:
df['Degree'].unique()

array(['B.Pharm', 'BSc', 'BA', 'BCA', 'M.Tech', 'PhD', 'Class 12', 'B.Ed',
       'LLB', 'BE', 'M.Ed', 'MSc', 'BHM', 'M.Pharm', 'MCA', 'MA', 'B.Com',
       'MD', 'MBA', 'MBBS', 'M.Com', 'B.Arch', 'LLM', 'B.Tech', 'BBA',
       'ME', 'MHM', 'Others'], dtype=object)

.nunique() :- Gives No. of  unique values in particular column

In [9]:
df['Degree'].nunique()

28

.value_counts() :- number of occurences of each item

In [10]:
df['Degree'].value_counts() #if we give normalize=True, it will give the percentage of each category

Degree
Class 12    6080
B.Ed        1867
B.Com       1506
B.Arch      1478
BCA         1433
MSc         1190
B.Tech      1152
MCA         1044
M.Tech      1022
BHM          925
BSc          888
M.Ed         821
B.Pharm      810
M.Com        734
BBA          696
MBBS         696
LLB          671
BE           613
BA           600
M.Pharm      582
MD           572
MBA          562
MA           544
PhD          522
LLM          482
MHM          191
ME           185
Others        35
Name: count, dtype: int64

In [11]:
df['Age'].value_counts(normalize=True)

Age
24.0    0.080929
20.0    0.080176
28.0    0.076449
29.0    0.069890
33.0    0.067847
25.0    0.063940
21.0    0.061862
23.0    0.058958
18.0    0.056880
19.0    0.055912
34.0    0.052615
27.0    0.052400
31.0    0.051145
32.0    0.045231
22.0    0.041576
26.0    0.041396
30.0    0.041038
35.0    0.000358
38.0    0.000287
36.0    0.000251
42.0    0.000143
39.0    0.000108
48.0    0.000108
46.0    0.000072
43.0    0.000072
37.0    0.000072
44.0    0.000036
51.0    0.000036
49.0    0.000036
58.0    0.000036
54.0    0.000036
59.0    0.000036
56.0    0.000036
41.0    0.000036
Name: proportion, dtype: float64

N first largest rows order by a given column

syntax : .nlargest(n,'column') n= no. of rows

In [12]:
df.nlargest(7,'Age')

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
9238,46602,Male,59.0,Nashik,Student,1.0,0.0,8.14,1.0,0.0,5-6 hours,Unhealthy,PhD,Yes,10.0,4.0,Yes,0
2909,14768,Female,58.0,Chennai,Student,4.0,0.0,8.58,1.0,0.0,7-8 hours,Healthy,Class 12,No,4.0,4.0,No,0
14819,74887,Female,56.0,Ludhiana,Student,3.0,0.0,7.94,5.0,0.0,5-6 hours,Unhealthy,BSc,No,1.0,5.0,Yes,0
13499,68441,Male,54.0,Agra,Student,5.0,0.0,9.60,2.0,0.0,More than 8 hours,Unhealthy,B.Ed,Yes,9.0,3.0,Yes,0
4386,22004,Female,51.0,Bhopal,Student,2.0,0.0,8.26,3.0,0.0,Less than 5 hours,Moderate,MBBS,Yes,5.0,5.0,Yes,0
3436,17213,Male,49.0,Nagpur,Student,3.0,0.0,6.47,3.0,0.0,5-6 hours,Moderate,Class 12,Yes,2.0,1.0,Yes,0
13618,69032,Female,48.0,Ghaziabad,Student,3.0,0.0,7.48,5.0,0.0,More than 8 hours,Healthy,LLB,No,2.0,4.0,No,0

## __Dropping a column__

To reflect anything in dataframe we have to use inplace=True

df.drop('column',axis=1)

In [14]:
df.drop('Age',axis=1)

,id,Gender,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

## __Dropping a Rows__

df.drop(index=[0,1,2])

In [16]:
df.drop(index=[0,1,2,3]).head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
5,33,Male,29.0,Pune,Student,2.0,0.0,5.70,3.0,0.0,Less than 5 hours,Healthy,PhD,No,4.0,1.0,No,0
6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,7-8 hours,Healthy,BSc,No,1.0,2.0,No,0
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,0.0,1.0,Yes,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1

# __Transposing DataFrame__

flipping the rows and columns

In [20]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,27891,27892,27893,27894,27895,27896,27897,27898,27899,27900
id,2,8,26,30,32,33,52,56,59,62,...,140645,140669,140672,140681,140684,140685,140686,140689,140690,140699
Gender,Male,Female,Male,Female,Female,Male,Male,Female,Male,Male,...,Female,Female,Female,Male,Male,Female,Male,Male,Female,Male
Age,33.0,24.0,31.0,28.0,25.0,29.0,30.0,30.0,28.0,31.0,...,28.0,20.0,24.0,23.0,31.0,27.0,27.0,31.0,18.0,27.0
City,Visakhapatnam,Bangalore,Srinagar,Varanasi,Jaipur,Pune,Thane,Chennai,Nagpur,Nashik,...,Thane,Indore,Hyderabad,Srinagar,Lucknow,Surat,Ludhiana,Faridabad,Ludhiana,Patna
Profession,Student,Student,Student,Student,Student,Student,Student,Student,Student,Student,...,Student,Student,Student,Student,Student,Student,Student,Student,Student,Student
Academic Pressure,5.0,2.0,3.0,3.0,4.0,2.0,3.0,2.0,3.0,2.0,...,4.0,3.0,3.0,3.0,2.0,5.0,2.0,3.0,5.0,4.0
Work Pressure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CGPA,8.97,5.9,7.03,5.59,8.13,5.7,9.54,8.04,9.79,8.38,...,7.77,7.72,6.02,6.0,7.27,5.75,9.4,6.61,6.88,9.24
Study Satisfaction,2.0,5.0,5.0,2.0,3.0,3.0,4.0,4.0,1.0,3.0,...,3.0,5.0,2.0,2.0,5.0,5.0,3.0,4.0,2.0,1.0
Job Satisfaction,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sleep Duration,5-6 hours,5-6 hours,Less than 5 hours,7-8 hours,5-6 hours,Less than 5 hours,7-8 hours,Less than 5 hours,7-8 hours,Less than 5 hours,...,Less than 5 hours,Less than 5 hours,7-8 hours,More than 8 hours,7-8 hours,5-6 hours,Less than 5 hours,5-6 hours,Less than 5 hours,Less than 5 hours
Dietary Habits,Healthy,Moderate,Healthy,Moderate,Moderate,Healthy,Healthy,Unhealthy,Moderate,Moderate,...,Unhealthy,Moderate,Moderate,Healthy,Moderate,Unhealthy,Healthy,Unhealthy,Healthy,Healthy
Degree,B.Pharm,BSc,BA,BCA,M.Tech,PhD,BSc,Class 12,B.Ed,LLB,...,MSc,Class 12,B.Arch,MBBS,B.Com,Class 12,MSc,MD,Class 12,BCA
Have you ever had suicidal thoughts ?,Yes,No,No,Yes,Yes,No,No,No,Yes,Yes,...,No,Yes,No,Yes,Yes,Yes,No,No,Yes,Yes
Work/Study Hours,3.0,3.0,9.0,4.0,1.0,4.0,1.0,0.0,12.0,2.0,...,2.0,8.0,8.0,12.0,6.0,7.0,0.0,12.0,10.0,2.0
Financial Stress,1.0,2.0,1.0,5.0,1.0,1.0,2.0,1.0,3.0,5.0,...,5.0,1.0,2.0,4.0,1.0,1.0,3.0,2.0,5.0,3.0
Family History of Mental Illness,No,Yes,Yes,Yes,No,No,No,Yes,No,No,...,No,No,No,No,Yes,Yes,Yes,No,No,Yes
Depression,1,0,0,1,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,1

In [21]:
df.T.shape

(18, 27901)

In [22]:
df.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, id to Depression
Columns: 27901 entries, 0 to 27900
dtypes: object(27901)
memory usage: 3.8+ MB