# __Sorting__

1. Sorting by column <br />
2. Sorting by Multiple columns <br />
3. Mix ascending and descending sorts

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../Datasets/Churn.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

we can sort using the .sort method

In [9]:
df.sort_values(by='account length').head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1409,NJ,1,415,420-6780,no,yes,30,183.1,95,31.13,...,110,19.77,248.3,110,11.17,8.4,2,2.27,0,False
923,MS,1,415,408-3977,no,no,0,144.8,107,24.62,...,66,9.56,218.7,79,9.84,13.8,3,3.73,1,False
2879,SC,1,415,356-8621,no,yes,26,146.6,68,24.92,...,67,14.69,173.8,113,7.82,10.0,2,2.70,1,False
2960,TX,1,415,396-4254,no,no,0,182.1,106,30.96,...,106,11.47,152.3,75,6.85,10.0,3,2.70,5,True
1490,TN,1,415,335-5591,no,no,0,196.1,107,33.34,...,82,25.20,211.5,91,9.52,7.0,2,1.89,1,False

By default, the sort_values() method sorts the data in ascending order.

## Sort by multiple columns

In [10]:
df.sort_values(by=['account length', 'total day charge']).head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
2423,SC,1,408,336-1043,no,no,0,123.8,113,21.05,...,77,20.08,73.2,81,3.29,3.7,2,1.00,0,False
923,MS,1,415,408-3977,no,no,0,144.8,107,24.62,...,66,9.56,218.7,79,9.84,13.8,3,3.73,1,False
2879,SC,1,415,356-8621,no,yes,26,146.6,68,24.92,...,67,14.69,173.8,113,7.82,10.0,2,2.70,1,False
2475,AK,1,408,373-1028,no,no,0,175.2,74,29.78,...,79,12.89,230.5,109,10.37,5.3,3,1.43,1,False
2960,TX,1,415,396-4254,no,no,0,182.1,106,30.96,...,106,11.47,152.3,75,6.85,10.0,3,2.70,5,True

We can change order of sorting Ascending / Descending

In [11]:
df.sort_values(by=['account length', 'total day charge'], ascending=[True, False]).head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1838,IA,1,408,331-2144,no,yes,26,208.0,115,35.36,...,113,15.73,177.7,144,8.00,8.1,9,2.19,1,False
1490,TN,1,415,335-5591,no,no,0,196.1,107,33.34,...,82,25.20,211.5,91,9.52,7.0,2,1.89,1,False
1409,NJ,1,415,420-6780,no,yes,30,183.1,95,31.13,...,110,19.77,248.3,110,11.17,8.4,2,2.27,0,False
2960,TX,1,415,396-4254,no,no,0,182.1,106,30.96,...,106,11.47,152.3,75,6.85,10.0,3,2.70,5,True
2475,AK,1,408,373-1028,no,no,0,175.2,74,29.78,...,79,12.89,230.5,109,10.37,5.3,3,1.43,1,False