# __4.Query and Oval__

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'..\\Datasets\\Churn.csv')
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

## Query

__One Condition__

In [4]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [5]:
df.rename(columns={' state ': 'state'}, inplace=True)

In [6]:
df['state'] = df['state'].astype(str)

In [7]:
df.query("`state` in ('KS', 'OH')").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
152,OH,65,408,336-7600,no,no,0,187.9,116,31.94,...,117,13.40,227.3,86,10.23,7.5,6,2.03,1,False
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True

In [8]:
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' ").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
231,OH,63,415,410-3719,yes,yes,36,199.0,110,33.83,...,111,24.76,197.6,92,8.89,11.0,6,2.97,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
451,KS,86,408,339-2616,no,yes,23,225.5,107,38.34,...,105,20.94,245.7,81,11.06,9.8,2,2.65,0,False

__Query using another Python variable__

You can refer to another python variable (`var_name`) in a query using `@var_name`.

In [9]:
min_day_calls = 120
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
1066,KS,117,510,385-3263,no,yes,25,216.0,140,36.72,...,69,19.05,267.9,112,12.06,11.8,4,3.19,0,False
1852,KS,101,510,413-1061,no,yes,25,144.1,144,24.50,...,105,14.25,240.0,107,10.80,14.5,3,3.92,1,False

In [10]:
%%time
min_day_calls = 120
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls").head()

CPU times: total: 0 ns
Wall time: 3.91 ms

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
1066,KS,117,510,385-3263,no,yes,25,216.0,140,36.72,...,69,19.05,267.9,112,12.06,11.8,4,3.19,0,False
1852,KS,101,510,413-1061,no,yes,25,144.1,144,24.50,...,105,14.25,240.0,107,10.80,14.5,3,3.92,1,False