# Groupping and Aggregating

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(r'../Datasets/Flavors.csv')
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [20]:
group = df.groupby('Base Flavor')
group

### We have found mean by first selecting all numeric columns and then applying groupby and mean

In [21]:
group1 = df.select_dtypes(include='number').join(df['Base Flavor']).groupby('Base Flavor').mean()
group1

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

### Counting the values

In [22]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [23]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [24]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

## Aggregrate Function

In [31]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean','max','count','sum']})

            Flavor Rating
                     mean   max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2
Vanilla               5.7  10.0     6  34.2

In [39]:
df.groupby('Base Flavor').agg({'Texture Rating': ['mean','max','sum'], 'Total Rating':['mean','max','min','count']})

            Texture Rating            Total Rating
                      mean  max   sum         mean   max   min count
Base Flavor
Chocolate         7.233333  7.6  21.7        15.70  16.6  15.2     3
Vanilla           5.650000  8.0  33.9        11.35  18.0   5.7     6

## Groupby Multiple columns

In [47]:
group1 = df.select_dtypes(include='number').join(df[['Base Flavor', 'Liked']]).groupby(['Base Flavor', 'Liked']).mean()
group1

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333