In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'../Datasets/Flavors.csv')
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [4]:
pivot = df.pivot(columns='Base Flavor',index='Flavor',values='Flavor Rating')

In [5]:
pivot

Base Flavor             Chocolate  Vanilla
Flavor
Cake Batter                   NaN      6.5
Chocolate                     8.8      NaN
Chocolte Fudge Brownie        8.2      NaN
Cookie Dough                  NaN      6.9
Mint Chocolate Chip           NaN     10.0
Neapolitan                    NaN      3.8
Pistachio                     NaN      2.3
Rocky Road                    8.2      NaN
Vanilla                       NaN      4.7

In [7]:
pivot2 = df.pivot(index='Base Flavor',columns='Flavor',values='Flavor Rating')
pivot2

Flavor,Cake Batter,Chocolate,Chocolte Fudge Brownie,Cookie Dough,Mint Chocolate Chip,Neapolitan,Pistachio,Rocky Road,Vanilla
Base Flavor,,,,,,,,,
Chocolate,NaN,8.8,8.2,NaN,NaN,NaN,NaN,8.2,NaN
Vanilla,6.5,NaN,NaN,6.9,10.0,3.8,2.3,NaN,4.7

#### Pivot table is used to summarize data and use aggregate functions

Parameters Explained

1.values:
The column(s) to aggregate.
Only numeric data can be aggregated.

2.index:
Defines the row labels for the pivot table.
The data will be grouped based on this column.
columns:
Defines the column labels for the pivot table.

3.aggfunc:
The aggregation function used for summarization (default is 'mean').
Common functions: 'sum', 'mean', 'count', 'min', 'max', etc.
You can also provide custom aggregation functions.

4.fill_value:
Specifies a value to replace missing data (NaN).

5.margins:
Adds a totals row and column labeled 'All' (default is False).

6.dropna:
Removes columns where all values are NaN.

7.sort:
Whether to sort the index and columns (default is True).

In [8]:
df1 = pd.read_csv(r'../Datasets/Flavors.csv')
df1

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [22]:
df.pivot_table(index='Flavor',columns='Base Flavor',values=['Flavor Rating','Texture Rating','Total Rating'],aggfunc='mean',fill_value=0,margins=True)

                       Flavor Rating               Texture Rating          \
Base Flavor                Chocolate Vanilla   All      Chocolate Vanilla
Flavor
Cake Batter                      0.0     6.5   6.5       0.000000    6.00
Chocolate                        8.8     0.0   8.8       7.600000    0.00
Chocolte Fudge Brownie           8.2     0.0   8.2       7.100000    0.00
Cookie Dough                     0.0     6.9   6.9       0.000000    6.50
Mint Chocolate Chip              0.0    10.0  10.0       0.000000    8.00
Neapolitan                       0.0     3.8   3.8       0.000000    5.00
Pistachio                        0.0     2.3   2.3       0.000000    3.40
Rocky Road                       8.2     0.0   8.2       7.000000    0.00
Vanilla                          0.0     4.7   4.7       0.000000    5.00
All                              8.4     5.7   6.6       7.233333    5.65

                                 Total Rating
Base Flavor                  All    Chocolate Vanilla   All
Flavor
Cake Batter             6.000000          0.0   12.50  12.5
Chocolate               7.600000         16.6    0.00  16.6
Chocolte Fudge Brownie  7.100000         15.3    0.00  15.3
Cookie Dough            6.500000          0.0   13.40  13.4
Mint Chocolate Chip     8.000000          0.0   18.00  18.0
Neapolitan              5.000000          0.0    8.80   8.8
Pistachio               3.400000          0.0    5.70   5.7
Rocky Road              7.000000         15.2    0.00  15.2
Vanilla                 5.000000          0.0    9.70   9.7
All                     6.177778         15.7   11.35  12.8