# __Transformation of Data__

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'../Datasets/Tips100.csv')
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,18.69,2.31,Male,No,Sat,Dinner,3,6.23,Brandon Bradley,4427601595688633,Sat4056
1,17.29,2.71,Male,No,Thur,Lunch,2,8.64,Brian Diaz,4759290988169738,Thur9501
2,11.87,1.63,Female,No,Thur,Lunch,2,5.94,Annette Cunningham,675937746864,Thur4780
3,10.65,1.50,Female,No,Thur,Lunch,2,5.32,Linda Zhang,3560509622598239,Thur9593
4,9.78,1.73,Male,No,Thur,Lunch,2,4.89,David Stewart,3578014604116399,Thur7276
...,...,...,...,...,...,...,...,...,...,...,...
95,26.41,1.50,Female,No,Sat,Dinner,2,13.20,Melody Simon,4745394421258160,Sat8980
96,17.26,2.74,Male,No,Sun,Dinner,3,5.75,Gregory Smith,4292362333741,Sun5205
97,13.16,2.75,Female,No,Thur,Lunch,2,6.58,Lindsey Meyer,676239597203,Thur6245
98,21.16,3.00,Male,No,Thur,Lunch,2,10.58,Keith Lewis,4356005144080422,Thur6273
99,15.01,2.09,Male,Yes,Sat,Dinner,2,7.50,Adam Hall,4700924377057571,Sat855

__assign()__

__Task:__ 

How to create a new column called `tip_perc` showing tips as a percentage of the total bill, and another column `tip_per_person`.

You can use the `assign` method to create multiple columns in a dataframe in one shot. 

It accepts a lambda function, which takes the _entire dataframe_ as an argument.

In [3]:
df = df.assign(tip_perc = lambda x: round(x['tip']/x['total_bill'], 4),
              tip_per_person = lambda x: round(x['tip']/x['size'], 4))
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_perc,tip_per_person
0,18.69,2.31,Male,No,Sat,Dinner,3,6.23,Brandon Bradley,4427601595688633,Sat4056,0.1236,0.770
1,17.29,2.71,Male,No,Thur,Lunch,2,8.64,Brian Diaz,4759290988169738,Thur9501,0.1567,1.355
2,11.87,1.63,Female,No,Thur,Lunch,2,5.94,Annette Cunningham,675937746864,Thur4780,0.1373,0.815
3,10.65,1.50,Female,No,Thur,Lunch,2,5.32,Linda Zhang,3560509622598239,Thur9593,0.1408,0.750
4,9.78,1.73,Male,No,Thur,Lunch,2,4.89,David Stewart,3578014604116399,Thur7276,0.1769,0.865

In [4]:
df['time']

0     Dinner
1      Lunch
2      Lunch
3      Lunch
4      Lunch
       ...
95    Dinner
96    Dinner
97     Lunch
98     Lunch
99    Dinner
Name: time, Length: 100, dtype: object

In [5]:
# df.eval('tip_per_person= tip/size',inplace=True)
# df.eval('tip_perc= tip/total_bill',inplace=True)
# df.head() Same as above

In [6]:
weekdays = {'Mon':1, 'Tue': 2, 'Wed': 3, 'Thur': 4, 'Fri': 5, 'Sat': 6, 'Sun': 7}

In [7]:
df['day'] = df['day'].map(weekdays)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_perc,tip_per_person
0,18.69,2.31,Male,No,6,Dinner,3,6.23,Brandon Bradley,4427601595688633,Sat4056,0.1236,0.770
1,17.29,2.71,Male,No,4,Lunch,2,8.64,Brian Diaz,4759290988169738,Thur9501,0.1567,1.355
2,11.87,1.63,Female,No,4,Lunch,2,5.94,Annette Cunningham,675937746864,Thur4780,0.1373,0.815
3,10.65,1.50,Female,No,4,Lunch,2,5.32,Linda Zhang,3560509622598239,Thur9593,0.1408,0.750
4,9.78,1.73,Male,No,4,Lunch,2,4.89,David Stewart,3578014604116399,Thur7276,0.1769,0.865

In [8]:
time = {'Lunch': 1, 'Dinner': 2}
df['time'] = df['time'].map(time)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_perc,tip_per_person
0,18.69,2.31,Male,No,6,2,3,6.23,Brandon Bradley,4427601595688633,Sat4056,0.1236,0.770
1,17.29,2.71,Male,No,4,1,2,8.64,Brian Diaz,4759290988169738,Thur9501,0.1567,1.355
2,11.87,1.63,Female,No,4,1,2,5.94,Annette Cunningham,675937746864,Thur4780,0.1373,0.815
3,10.65,1.50,Female,No,4,1,2,5.32,Linda Zhang,3560509622598239,Thur9593,0.1408,0.750
4,9.78,1.73,Male,No,4,1,2,4.89,David Stewart,3578014604116399,Thur7276,0.1769,0.865

__Example 2:__ Lambda function based map

__Task__: Mask the CC number and show only the last 4 digits.

In [9]:
df['CC Number'].map(lambda x: "XXXX"+str(x)[-4:])

0     XXXX8633
1     XXXX9738
2     XXXX6864
3     XXXX8239
4     XXXX6399
        ...
95    XXXX8160
96    XXXX3741
97    XXXX7203
98    XXXX0422
99    XXXX7571
Name: CC Number, Length: 100, dtype: object

If length != 16, show 'xxxx'

In [10]:
df['CC Number'] = df['CC Number'].map(lambda x: "x"+str(x)[-4:] if len(str(x))==16 else 'xxxx')
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_perc,tip_per_person
0,18.69,2.31,Male,No,6,2,3,6.23,Brandon Bradley,x8633,Sat4056,0.1236,0.770
1,17.29,2.71,Male,No,4,1,2,8.64,Brian Diaz,x9738,Thur9501,0.1567,1.355
2,11.87,1.63,Female,No,4,1,2,5.94,Annette Cunningham,xxxx,Thur4780,0.1373,0.815
3,10.65,1.50,Female,No,4,1,2,5.32,Linda Zhang,x8239,Thur9593,0.1408,0.750
4,9.78,1.73,Male,No,4,1,2,4.89,David Stewart,x6399,Thur7276,0.1769,0.865