Basics of Stat

### .describe() for stastical description

In [7]:
import pandas as pd

data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
print(data.describe())

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

### Mean

In [8]:
data['A'].mean()

np.float64(3.0)

### Median

In [9]:
data['A'].median()

np.float64(3.0)

### Mode

In [10]:
data['A'].mode()

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

### Standerd Deviation

In [11]:
data['A'].std()

np.float64(1.5811388300841898)

### Variance

In [12]:
data['A'].var()

np.float64(2.5)

### Minimum and Maximum

In [13]:
data['A'].min()  
data['A'].max()

np.int64(5)

### Sum

In [14]:
data['A'].sum()

np.int64(15)

### Count Number of NA values

In [15]:
data['A'].count()

np.int64(5)