# __Basics of Stat__

# __1. MEAN(AVERAGE):__  

The average of the Dataset

Formula : Mean = Sum of all data points / Number of all data points

Examples :

IF your data set is [2,4,6,8,10]

Mean = 2+4+6+8+10 / 5 = 6

__Syntax__


df['column'].mean()

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(1,100, (5,4)), columns=list('abcd'))
df

    a   b   c   d
0  93  67  18  56
1   6  48  47  74
2  61  58  22  65
3  89  13  95  55
4  27  81   9  69

In [3]:
df['a'].mean()

np.float64(55.2)

# __2. MEDIAN:__  

The median is a measure of central tendency that represents the middle value of a dataset when the values are arranged in ascending order. It divides the dataset into two equal halves.

How to Find the Median: 

1. Sort the data in ascending order.

2. Determine the position of the middle value: <br/> <br/>
    If the number of values  n is odd: The median is the middle value. <br/> 
    If n is even: The median is the average of the two middle values.
    
Examples:    
1.Odd number of values:
    
    Dataset: [3, 7, 1, 9, 5]
    
    Sorted: [1, 3, 5, 7, 9]
    
    Median: 5 (middle value).

2.Even number of values:

    Dataset: [8, 4, 2, 6]

    Sorted: [2, 4, 6, 8]

    Median : 4+6 / 2 = 5

In [4]:
df2 = pd.DataFrame(np.random.randint(1,100, (5,4)), columns=list('abcd'))
df2

    a   b   c   d
0  26   9   2  81
1  14  50  13  93
2  91   5  11   9
3  17  94  29  46
4  37  96  46  47

In [5]:
df2['a'].median()

np.float64(26.0)

# __3.Mode__


Definition: The mode is the value that appears most frequently in a datas

A Dataset can have :

One mode (monodial) : [1,2,2,3] , mode = 2

Multiple Modes : [1,2,1,2,3] , mode = 2,3

No Mode : [1,2,3] 

No mode: If all values occur equally often.

In [6]:
df3 = pd.DataFrame([1,2,3,4,5,6,6,7,6])
df3

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  6
7  7
8  6

In [7]:
df3.mode()

   0
0  6

## __Deviation__

Definition: Deviation measures how far a data point is from the mean.

Formula:

Deviation of a point = Data point − Mean

Example :

[2,4,6,8] , mode = 5

Then deviations are = 2-5,4-5,6-5,8-5 = [-3,-1,1,3]

# __4. Standard Deviation__

Definition: Standard deviation measures the spread or dispersion of data around the mean.

 It tells you how tightly or widely the data points are clustered around the average.

Standard Deviation(σ) = sqrt((∑(Data point−Mean)^2) / (Number of Data points))

Steps to Calculate:

1.Calculate the mean.

2.Subtract the mean from each data point to find the deviations.

3.Square the deviations.

4.Find the mean of the squared deviations (this is the variance).

5.Take the square root of the variance.

Example :

Dataset : [2,4,6,8] , Mean = 5

Deviations : [-3,-1,1,3]

Squared Devations : [9,1,1,9]

Variance : (9+1+1+9) / 4 = 5

Standerd Variance : sqrt(5) ≈ 2.24

In [8]:
data = {'Values': [4, 8, 6, 5, 3]}
dfn = pd.DataFrame(data)
print(dfn)

   Values
0       4
1       8
2       6
3       5
4       3

In [9]:
dfn.std()

Values    1.923538
dtype: float64

# __5. Variance__

Measures the average squared deviation from the mean.

Square of Standerd Deviation

variance(σ^2)

In [10]:
data = {'Values': [4, 8, 6, 5, 3]}
dfn = pd.DataFrame(data)
print(dfn)

   Values
0       4
1       8
2       6
3       5
4       3

In [11]:
dfn.var()

Values    3.7
dtype: float64