# __Select , Create and Filtering__

## __Pandas offers 5 primary methods to select items__

1.Dot Notation  <br/>
2.loc:  <br/>
3.iloc: <br/>
4.at: <br/>
5.iat: <br/>

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv(r'../Datasets/Student_Depression_Data.csv')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

# __1.Dot Notation__

dot notation used to select one column only

In [22]:
df.Age

0        33.0
1        24.0
2        31.0
3        28.0
4        25.0
         ...
27896    27.0
27897    27.0
27898    31.0
27899    18.0
27900    27.0
Name: Age, Length: 27901, dtype: float64

In [23]:
print(type(df.Age))

<class 'pandas.core.series.Series'>

#### WE can't used for column names that contain a space character

we can't create a new column with the dot method because it creates object

# __2.loc method__

#### Select rows/columns by label (index/column names).

syntax : df.loc[row,column]

In [24]:
df.loc[:,'Age']

0        33.0
1        24.0
2        31.0
3        28.0
4        25.0
         ...
27896    27.0
27897    27.0
27898    31.0
27899    18.0
27900    27.0
Name: Age, Length: 27901, dtype: float64

In [25]:
df.loc[:,['Age','City']]

        Age           City
0      33.0  Visakhapatnam
1      24.0      Bangalore
2      31.0       Srinagar
3      28.0       Varanasi
4      25.0         Jaipur
...     ...            ...
27896  27.0          Surat
27897  27.0       Ludhiana
27898  31.0      Faridabad
27899  18.0       Ludhiana
27900  27.0          Patna

[27901 rows x 2 columns]

we use slicing also

but in loc method slicing means 0:5 means 0 to 5 including 5

In [26]:
df.loc[1:5,['Age','City']]

    Age       City
1  24.0  Bangalore
2  31.0   Srinagar
3  28.0   Varanasi
4  25.0     Jaipur
5  29.0       Pune

In [27]:
df.loc[:,'Country'] = 'India'
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Country
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,India
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0,India
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0,India
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1,India
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0,India

### __Contiguos columns selecting__

In [29]:
df.loc[:,'Age' : 'Work Pressure']

        Age           City Profession  Academic Pressure  Work Pressure
0      33.0  Visakhapatnam    Student                5.0            0.0
1      24.0      Bangalore    Student                2.0            0.0
2      31.0       Srinagar    Student                3.0            0.0
3      28.0       Varanasi    Student                3.0            0.0
4      25.0         Jaipur    Student                4.0            0.0
...     ...            ...        ...                ...            ...
27896  27.0          Surat    Student                5.0            0.0
27897  27.0       Ludhiana    Student                2.0            0.0
27898  31.0      Faridabad    Student                3.0            0.0
27899  18.0       Ludhiana    Student                5.0            0.0
27900  27.0          Patna    Student                4.0            0.0

[27901 rows x 5 columns]

# __3.iloc Method__

### iloc works on indexes of rows and columms

In [31]:
df.iloc[[0,1,2,3,4],[0,1,2,3,4]]

   id  Gender   Age           City Profession
0   2    Male  33.0  Visakhapatnam    Student
1   8  Female  24.0      Bangalore    Student
2  26    Male  31.0       Srinagar    Student
3  30  Female  28.0       Varanasi    Student
4  32  Female  25.0         Jaipur    Student

In [32]:
df.iloc[1:5,1:5]

   Gender   Age       City Profession
1  Female  24.0  Bangalore    Student
2    Male  31.0   Srinagar    Student
3  Female  28.0   Varanasi    Student
4  Female  25.0     Jaipur    Student

# __4. at method__

only select single element

Must Faster than doing operation

Select a specific cell by row label and column label

syntax : df.at[rows , column_name]

# __4. at method__

In [38]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Country
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,India
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0,India
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0,India
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1,India
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0,India

In [39]:
df.at[2,'Age']

np.float64(31.0)

# __5. iat method__

here both arguments are based on indexes

In [40]:
df.iat[2,1]

'Male'

In [41]:
df.iat[0,0]

np.int64(2)

.at and .iat is speed

Vectorization > .at > .iat > .loc > .iloc in terms of speed